button {
  border-radius: 50px;
  border: none;
  background-color: mediumseagreen;
  color: white;
  margin-bottom: 10px;
}

div{
  height: 400px;
  width: 400px;
  background-color: magenta;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
