<section class="container">
  <h1 class="text-center">Main Feed</h1>
    <div class="row text-center">
        <div class="col-xs-12 col-md-4 d-flex justify-content-center mt-3" *ngFor="let item of feedObservable | async">
          <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="{{item.img}}" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{item.title}}</h4>
              <p class="card-text">{{item.description}}</p>
              <a href="{{item.url}}" class="btn btn-primary">Ver Detalhes</a>
            </div>
          </div>
        </div>
      </div>
</section>

