/* SASS referente a página index.html */

#main {
  background-image: url(../../img/home/cover.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

#main h1 {
  font-size: 3.5rem;
  font-weight: bold;
  max-width: 650px;
  padding-left: 2rem;
  color: #fff;
}

#cursos a:hover {
  opacity: 0.7;
}

#contact {
  margin-top: 12vh;

  textarea {
    resize: none;
  }

  button {
    margin: 0 40%;
  }
}

#maps {
  width: 80%;
  margin: -10vh 13vh;

  // Medium devices (tablets, less than 992px)
  @media (max-width: 991px) {
    display: none;
  }
}
