div{
  height: 400px;
  width: 400px;
  background-color: magenta;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

textarea{
  width: 200px;
  height: 200px;
  margin: 25% 0;
}

p{
  margin: 25% 0;
}
