<section class="container mt-5 text-center">
  <div class="row">
    <div class="col-12">
      <h1 class="mb-3">Sticker Name</h1>
    </div>
    <div class="col-xs-12 col-md-6 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="http://via.placeholder.com/350x250" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-outline-success">Available</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 align-self-center">
      <img class="profile-img" src="http://via.placeholder.com/250x250" alt="Profile Picture">
      <h2>Contact Name</h2>
      <h3>Contact Phone</h3>
      <p>0434 484 203</p>
      <h3>Location</h3>
      <p>423 Kent Street</p>
    </div>
  </div>
</section>

